/* HOW MUCH OF THIS IS STILL RELEVANT? */

* {
  box-sizing: border-box;
  /*margin-top: 0;*/
}
.npc-wrapper {
  display: flex;
  flex-flow: row nowrap;
  color: #121111;
  background-color: #989295;
  padding: 1em;
  min-height: 350px;
  border-radius: 10px;
}
.npc-speaks {
  align-self: flex-end;
}