/** {
  box-sizing: border-box;
}*/
/* npc is a flex container */
:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* also a flex item */
  flex: 1;
  color: #121111;
  background-color: #989295;
  padding: 1em;
  border-radius: 10px;
}
/*.npc-speaks bg colour for testing only*/
/*.npc-speaks {
  background: rgba(140, 110, 110, 0.3);
}*/