<app-npc
  [npcSpeaks]="npcSpeaks"
  (npcTurn)="npcTurn($event)"
>
</app-npc>
<app-player
  [playerSpeaks]="playerSpeaks"
  [playerThinks]="playerThinks"
  [playerOptions]="playerOptions"
  (playerTurn)="playerTurn($event)"
  (selectOption)="selectOption(option)"
>
</app-player>

<!-- extra is only for testing -->
<div class="extra">
<small>Scene {{ (scdata | async).sc.meta.id }} description:
  {{ (scdata | async).sc.meta.description }}
  Actors: {{ (scdata | async).sc.meta.actors }}
  <pre>{{ scdata | async | json }}</pre>
  </small>
</div>