/* Is box-sizing necessary? */
* {
  box-sizing: border-box;
}
/* scene is a flex container */
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*background-color: #3D3D32;*/
}

/* footer stuff should go in dashboard */

/*footer {
  padding: 12px 0 0 0;
  color: dimgray;
  font-size: 12px;
  background-color: rgba(78,53,97,.5);
}*/
