* {
  box-sizing: border-box;
}
/* player is a flex container */
:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* also a flex item */
  flex: 1;
  height: 50%;
  color: #2E2E2C;
  background-color: #BFBFB8;
  padding: 1em;
  border-radius: 10px;
}
.player-speaks {
  color: #2E2E2C;
}
/* .thinks is a flex container */
.thinks {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
.options {
/* is this padding needed? */
  padding: 0;
}
/* ul is a flex container for the li buttons */
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
ul, li {
  padding: 0;
  margin: 0;
}
/*li {
  flex: 1 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}*/
button {
  /* does button need to be a flex item? */
  flex: 1 100%;
  color: #2E2E2C;
  background-color: #ADADA8;
  border: 2px solid #CCB;
  border-radius: 6px;
  padding: 0.4em;
  text-align: left;
  align-self: flex-start;
  cursor: pointer;
  cursor: hand;
}
button:focus, button:hover {
  color: #FEFEF6;
  background-color: #666963;
  border-color: #666963;
  outline: 0;
}